<h1>Profile of {{controller.user.name}}</h1>

<div>Name: {{controller.user.name}} </div><br />
<div>Title: {{controller.user.title}}</div><br />



<div ng-show="account.getClaim('isAdmin')">
    <!--Need list page to bring up all the tools and users
     (can delete straight from this page). Need and Add/Edit page-->

    Administrator: <a ui-sref="adminList">Add/Edit/Delete Tools and/or Users</a><br />
   <br />
</div>


My Tools:
<table class="table table-bordered table-striped">
    <tr>
        <td class="text-center table-header">Tool Name:</td>
        <td class="text-center table-header">Check Out Date:</td>
        <td class="text-center table-header">Return Date:</td>
        <td class="text-center table-header" ng-show="(account.getUserId() == controller.user.id)  && !tool.returnDate">Return Tool</td>
    </tr>
    <tr ng-repeat="tool in controller.toolList | orderBy:'checkOutDate':true | limitTo:10">
        <td><a ui-sref="toolDetail({id:{{tool.id}}})">{{tool.name}}</a></td> <!--Link to the tool modal if possible-->
        <td class="text-center">{{tool.checkOutDate.substring(0,10)}}</td>
        <td class="text-center">{{tool.returnDate.substring(0,10)}}</td>
        <td class="text-center" ><a ng-click="controller.returnTool(tool.id)" ng-show="(account.getUserId() == controller.user.id) && !tool.returnDate">Return</a></td> 
        <!--on click this will changed the status/return date and clear the person
        on this current tool.-->
    </tr>



</table>
