<div class="row">
    <div class="col-md-6">
        <h1>{{controller.tool.name}}</h1>

        <div>Name: {{controller.tool.name}} </div><br />
        <div>Tool ID: {{controller.tool.id}}</div><br />
        <div>Manufacturer: {{controller.tool.manufacturer}}</div><br />
        <div>Machine Hours: {{controller.tool.machineHours}}</div><br />
        <div>Current Status: {{controller.tool.status}}</div><br />

    </div>
    <div class="col-md-6">
        <img class="tool-img center-block" ng-src="{{controller.tool.imageURL}}" />
        <div class="text-center" ng-show="controller.tool.status == 'Available'"><a ng-click="controller.checkOut()" class="clink">Check Out</a></div>
    </div>
</div>

Similar Tools of Category {{controller.tool.category}}:
<table class="table table-bordered table-striped">
    <tr>
        <td class="text-center table-header">Tool Name:</td>
        <td class="text-center table-header">Status:</td>
        <td class="text-center table-header">Person:</td>
    </tr>
    <tr ng-repeat="t in controller.likeTools">
        <td class="text-center"><a ui-sref="toolDetail({id:{{t.id}}})">{{t.name}}</a></td>
        <td class="text-center">{{t.status}}</td>
        <td class="text-center">{{t.currentUser.name}}</td>
    </tr>

</table>