<html xmlns="http://www.w3.org/1999/xhtml" ng-app="WhatAToolFinal">
<head>
    <title>What-A-Tool Tool Management Service</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <div id="bg-img" />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a ui-sref="main" ng-disabled="account.isLoggedIn()"><img src="~/images/WATALogo.jpg" height="120" width="120" /></a>
            </div>
            <div class="col-md-6 text-center">
                <h1>Welcome to WhatA Tool</h1>
            </div>
            <div class="col-md-3 text-right mainView">
                <a ui-sref="main">Home</a> <br />
                <a ui-sref="profileDetail({id: account.getUserId() })" ng-class="{disabled: !account.isLoggedIn()}">Profile</a> <br />
                <a ui-sref="login" ng-show="!account.isLoggedIn()">Login</a>
                <a ui-sref="login" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
                <div ng-show="account.isLoggedIn()">
                    [{{account.getUserName()}}]
                </div>
            </div>

        </div>
        <hr />
        <div class="row mainView">
            <ui-view></ui-view>
        </div>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
